---
contained | site_main
page | print_main
title | Boilerplate
---

<div class="print-main-details">

<figure>
  <img src="images/prints/main/" alt="" title="Title" >
</figure>

  <p class="strong">&#039;TITLE&#039;</p>
  <p></p>
  <p></p>
  <p></p>
  <p class="red-highlight">MESSAGE</p>

  <!-- Item available via paypal-->
  <p class="strong">Size: 60cm x 60cm</p>
  <p class="strong">Price £000 - incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="ABC123" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <p class="bold" >Please allow a few days for delivery - or email me for more specific details about your order.</p>

</div>
