---
contained | site_main
page | print_main
title | Boilerplate
---

<div class="print-main-details">

<figure>
  <img src="images/main/elvis.png" alt="" title="Elvis" >
</figure>

  <p class="strong">&#039;Elvis Quotes&#039;</p>
  <p>A limited edition fine art print of Elvis Presley made of great Elvis quotes.</p>
  <p>Signed and numbered edition of 50.</p>
  <p>Printed on Somerset Velvet 330gsm paper with deckled edges. Certificate of authenticity on request.</p>
  <p class="red-highlight">TWO SIZES AVAILABLE</p>

  <!-- Item available via paypal-->
  <p class="strong">Size: 60cm x 60cm</p>
  <p class="strong">Price £000 - incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="CHJC7NF45U3QE" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <!-- Item available via paypal-->
  <p class="strong">Size: 60cm x 60cm</p>
  <p class="strong">Price £000 - incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="TBQS7V25P4YPC" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <p class="bold" >Please allow a few days for delivery - or email me for more specific details about your order.</p>

</div>
