---
contained | site_main
page | debbie_harry_main
title | Debbie Harry TEXT ME
---

<div class="print-main-details">

<figure>
  <img src="images/prints/main/debbie_harry.jpg" alt="" title="Debbie Harry" >
</figure>

  <p class="strong">&#039;Debbie Harry TEXT ME&#039;</p>
  <p>A limited edition fine art print of Debbie Harry made solely of random selections and excerpts of Blondie song lyrics.</p>
  <p>Signed and numbered edition of 100.</p>
  <p>Printed on Somerset Velvet 330gsm paper with deckled edges. Certificate of authenticity on request.</p>
  <p class="red-highlight">TWO SIZES AVAILABLE</p>

  <!-- Item available via paypal-->
  <p class="strong">Size 1: 53cm x 53cm</p>
  <p class="red-highlight">*Limited time Special Price £95*</p>
    <p class="strong">incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="TBQS7V25P4YPC" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <!-- Item available via paypal-->
  <p class="strong">Size 2: 85cm x 85cm </p>
  <p class="strong">Price £250 - incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="TZQH8WY4QZCQW" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <p class="bold" >Please allow a few days for delivery - or email me for more specific details about your order.</p>

</div>
