---
contained | site_main
page | elton_john_main
title | Elton John
---

<div class="print-main-details">

<figure>
  <img src="images/prints/main/elton_john.jpg" alt="" title="Elton John Superstar" >
</figure>

  <p class="strong">&#039;Elton John Superstar&#039;</p>
  <p>A portrait created from readable words associated with Elton John.</p>
  <p>A selected mix of favourite Elton song-titles and stand-out lines from various songs
 - beginning with the line "I hope you don't mind that I put down in words..."
 and ending with a subtley changed famous line to assert the tribute aspect of the artwork
 "How wonderful life is that you're in the world...".</p>

  <!-- Item available via paypal-->
  <p class="strong">Size: 83cm x 83cm</p>
  <p>Printed on Hahnemuhle Fine Art paper with hand torn edges.</p>
  <p>Limited Edition of 33..</p>
  <p class="strong">Price £250 - incs. Worldwide Delivery</p>
  <div class="paypal-item" data-paypalid="49N8F4L26TL3A" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->


  <p class="bold" >Please allow a few days for delivery - or email me for more specific details about your order.</p>

</div>
