---
contained | site_main
page | prince_main
title | Prince
---

<div class="print-main-details">

<figure>
  <img src="images/prints/main/prince.jpg" alt="" title="Prince" >
</figure>

  <p class="strong">&#039;Prince 2000 ZERO ZERO&#039;</p>
  <p>New ‘Prince 2000 ZERO ZERO’ edition. Limited time intro price.
    Portrait created from song titles and lyrics - with the words
    “Tonight we’re gonna party like it’s 1999.
    2000 ZERO ZERO party over oops outta time”
    beautifully spray-rendered in the background.
  </p>
  <p>Printed on Hahnemuhle Fine Art paper with hand torn edges.</p>
  <p class="red-highlight">Limited Edition of 200.</p>

  <!-- Item available via paypal-->
  <p class="strong">Size: 83cm x 83cm</p>
  <p class="strong">Price £225 - incs. worldwide delivery</p>
  <div class="paypal-item" data-paypalid="" >{{ paypal_form_button }}</div>
  <!-- end paypal item -->

  <p class="bold" >Please allow a few days for delivery - or email me for more specific details about your order.</p>

</div>
