---
contained | site_main
page | prints
title | 🖼 lithiographs - Mike Edwards
---
<div class="container">
  <!-- print row -->
  <div class="print-pair row">
    <a href="prince_main.html">
      {{ prince_listing }}
      {{ prince_detail }}
    </a>
  </div>

  <!-- print row -->
  <div class="print-pair row">
    <a href="elton_john_main.html">
      {{ elton_john_listing }}
      {{ elton_john_detail }}
    </a>
  </div>

  <!-- print row -->
  <div class="print-pair row">
    <a href="debbie_harry_main.html">
      {{ debbie_harry_listing }}
      {{ debbie_harry_detail }}
    </a>
  </div>

</div>
